.detail-info {
  padding-left: 30px !important;
}

.content-wrapper {
    min-height: 100%;
    background-color: #F9F9F9;
    z-index: 800;
}

.welcome-content {
  margin-top:100px;
}

.nav-blue {
  background: #0288D1;
}

.section {
  padding: 15px;
  /*border: 1px solid #79B3EF;*/
  background: #FFF;
  border-radius: 2px;
  margin-bottom: 15px;
}

.main-footer {
    background: #fff;
    padding: 4px;
    color: #444;
    border-top: 1px solid #d2d6de;
}
.skin-blue .main-header .navbar {
    background-color: #0288D1;
}
.panel {
  margin-bottom: 0px;
}
.heading-panel-blue {
  background: #0288D1 !important;
  border-radius: 2px;
}
.heading-panel-blue h4 a{
  color: white !important;
}
.panel-default {
    border-color: #FFFFFF;
    border-radius: 2px;
}
.title-top{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container {
  border-radius: 5px;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top:1px solid #DFE8E7;
}

.contentBox{
  margin:5px;
  margin-top: 20px;
  padding:15px;
  background: rgba(255, 255, 255, 0.85) !important;
}

.container{
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1096px !important;
}

img.large {
  width: 480px;
  height: 360px;
}

img.medium {
  width: 240px;
  height: 180px;
}

img.small {
  width: 120px;
  height: 90px;
}

img.banner {
  width: 100%;
  height: 300px;
}

.dt-medium img{
  width: 240px;
  height: 180px;
}

.dt-small img{
  width: 120px;
  height: 90px;
}



@media (min-width: 991px) && (max-width: 991px){
  .users-table{
    width: 77%;
  }

  .container{
    width: 100%;
  }
}

@media (max-width: 1365px){
  .users-table,
  #managements-table,
  .container{
    width: 100% !important;
  }

  .act-wrap .col-md-2{
    width: 20%;
  }
}

@media (max-width: 1100px){
  .act-wrap .col-md-2{
    width: 22.667%;
  }
}
@media (max-width: 1024px){
  .act-wrap .col-md-2 {
      margin-bottom: 5px;
      text-align: center;
      width: 30%;
      float: none;
      display: inline-block;
  }
}

@media (max-width: 1000px){
  .container .col-sm-5{
    /*width: 100%;*/
  }
}

@media (max-width: 768px){
  .users-table{
    width: 77%;
  }

  .container{
    width: 100%;
  }

  .act-wrap .col-md-2{
    margin-bottom: 5px;
    text-align: center;
  }

  .act-wrap .col-md-2:nth-child(2){
    margin-left: 0 !important;
  }

  .thumbnail-wrap{
    height: auto;
  }
}

@media (max-width: 640px){
  .select2-container .select2-selection--single{
    width: auto;
  }

  .dt-medium img {
      height: auto;
      width: 100px;
  }

  .act-wrap .col-md-2 {
    width: 100%;
  }

  .content-wrapper h1{
    font-size: 24px;
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) {
    .nav {
        padding-left:2px;
        padding-right:2px;
    }
    .nav li {
        display:block !important;
        width:100%;
        margin:0px;
    }
    .nav li.active {
        border-bottom:1px solid #ddd!important;
        margin: 0px;
    }
}
.tab-content{
  padding-top:10px;
}

@media screen and (max-width: 767px) {
  div.dataTables_wrapper > div.row > div, div.dataTables_length, div.dataTables_filter, div.dataTables_info, div.dataTables_paginate {
    text-align: center;
    margin-top: 10px;
}
